body{
    background-color: rgb(197, 193, 193);
}
h1{
    text-align: center;
    font-style: oblique;
    font-size: 60px; 
}
#nacionalidade{
    background-color: chartreuse
}
.list-style{
    font-size:small
    
}